.chord-key {
  position: absolute;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  transform: translate(-50%, -50%);
    height: 160px;
    width: 190px; 
    top: var(--y);
    left: var(--x);
  background-color: #efb12c; 
}




.joystick-box {

    height: 200px;
    width: 200px;

}

.chord-key.pressed {
  background-color: #ffda75;
  scale: 0.96;
}

body {
  margin:0;
  display: flex;
  justify-content: center;
}

#mini-synth {

  margin-top:30px;  
  height: 800px;
  width: 900px;
  border: solid 1px black;
}

#keys {
  position: relative;
  height:50%;
  width: 100%;
  border: solid 1px black;
}

#controls {
  display: flex;
  flex-direction: row;
  height:50%;
  width: 100%;
  border: solid 1px black;
}

#controls-1 {
  padding: 30px;
  flex:1;
  
}

#controls-2 {
  flex:1;
}

#controls-3 {
  padding: 30px;
  flex:1;
}


label {
  font-size: 24px;
  font-weight: 500;
  color: #2c3e50;
}

select {
  appearance: none;
  padding: 16px 50px 16px 20px;  
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px; 
  color: #0a4704;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%232c3e50" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;  
}

#scale-root-select {

  width: 180px;
  background-color: #bddc42e5;

}


#scale-type-select {
  margin-top:10px;
  width: 180px;
  background-color: #bddc42e5;
  

}

#instrument-select {
  margin-top:10px;
  width: 180px;
  background-color: #bddc42e5;
  
}

#joystick-direction {
  padding: 16px 50px 16px 20px;  
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px; 
  color: #2c3e50;
  background-position: right 12px center;
   width: 180px;
  background-color: #bddc42e5;
}