.chord-key {
    height: 200px;
    width: 200px;
    border: solid 1px black
}

.joystick-box {
    height: 200px;
    width: 200px;
    border: solid 1px black
}

.chord-key.pressed {
  background-color: #ffda75;
  transform: scale(0.96);
}